// HEADER
#header {
  display: grid;
  grid-template-columns: 46fr 54fr;
  height: 100vh;
  position: relative;

  .headerContent {
    position: relative;
    background: rgb(4, 30, 53);
    @include gradient;
    display: flex;
    align-items: center;
    justify-content: center;

    .headerText {
      padding-left: 3em;
      max-width: 480px;
      margin: 3vh 60px 0 auto;

      @include respondTo(laptop) {
        padding-left: 2em;
        max-width: 380px;
        margin: 3vh 30px 0 auto;
      }

      @include respondTo(mobile) {
        max-width: none;
      }

      h1 {
        color: white;
      }
      p {
        color: rgb(215, 215, 215);
      }

      .mainBtn {
        margin-top: 15px;
        border: 1px solid $SKY;
        background: $SKY;
        color: white;
        scroll-behavior: smooth;

        &:hover {
          background: rgb(51, 156, 255);
          border: 1px solid rgb(51, 156, 255);
        }
      }
    }

    .mouseContainer {
      position: absolute;
      bottom: 20px;
      right: 200px;
      text-align: center;

      .scroll {
        width: 40px;
        height: 1px;
        background: white;
        transform: rotate(90deg);
        margin-top: 30px;

        &:after {
          content: "";
          background: white;
          height: 1px;;
          width: 20px;
        }
      }
      
      .mouse {
        width: 18px;
        height: 32px;
        border: 1px solid white;
        border-radius: 30px;
        position: relative;
        z-index: 0;
        text-align: center;
        margin: 0 auto;
      }

      .mouse::before {
        content: "";
        width: 6px;
        height: 6px;
        border: 1px solid white;
        position: absolute;
        top: 6px;
        background: transparent;
        left: 5px;
        border-radius: 50%;
        animation: mouse 5s infinite ease;
      }

      @keyframes mouse {
        0% {
          opacity: 0;
        }
        40% {
          opacity: 1;
          top: 6px;
        }
        60% {
          opacity: 0;
          top: 20px;
        }
        100% {
          opacity: 0;
          top: 20px;
        }
      }
    }
  }

  .headerBg {
    background: url("images/dealerBg.png") no-repeat center center;
    background-size: cover;
    position: relative;
    width: 100%;

    .badge {
      max-width: 28vh;
      position: absolute;
      bottom: 4vh;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      z-index: 0;
    }
  }
}
@include respondTo(mobile) {
  #header {
    grid-template-columns: 1fr;
    height: auto;
  }
  
  .headerContent {
    height: auto;
    justify-content: row;
    min-height: 35vh;

    .headerText {
      padding: 14vh 20px 30px!important;
      margin: 0 !important;
    }

    .mouseContainer {
      display: none;
    }
  }

  .headerBg {
    height: 60vh;
    background-size: 800px;

    img {
      max-width: 20vh !important;
      bottom: 2vh !important;
    }
  }
}


// INFO BANNER
#infoBanner {
  background: $SKY;
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;

  .infoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    width: 65%;

    h1 {
      margin-bottom: -10px;
      font-weight: 400;
      color: white;
    }

    p {
      font-size: 15px;
      letter-spacing: 0;
      color: white;
      font-weight: 300;
      opacity: 0.8;
    }
  }

  @include respondTo(laptop) {
    .infoGrid {
      width: 80%;

      h1 {
        font-size: 35px;
        margin-bottom: -12px;
      }

      p {
        font-size: 14px;
        color: white;
      }
    }
  }
}
@include respondTo(mobile) {
  #infoBanner {
    min-height: 12vh;

    .infoGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
      width: 90%;

      h1 {
        font-size: 28px;
        margin-bottom: -7px;
        color: white;
      }

      p {
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
        opacity: 1;
      }
    }
  }
}


// WHY WE STARTED
.aboutUs {
  padding: 100px 3em 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;

  img {
    object-fit: cover;
    max-width: 90%;
  }

  .whyWeStarted {
    margin-top: 33%;

    h2 {
      color: black;
      font-weight: 800;
      margin-bottom: 10px;

      a {
        font-weight: 300;
      }
    }

    p {
      margin-bottom: 25px;
    }
  }

  @include respondTo(laptop) {
    padding: 60px 2em;
  }
}
@include respondTo(mobile) {
  .aboutUs {
    grid-template-columns: 1fr;
    padding: 40px 20px 60px;

    .whyWeStarted {
      margin-top: 0;
    }

    img {
      margin: 0 auto;
      margin-bottom: -50px;
    }
  }
}


// INSPECTION PROCESS
#inspectionTitle {
  background: $STONE;
  padding: 150px 3em 150px;
  scroll-behavior: smooth;

  h2 {
    color: white;
  }

  h4 {
    color: white;
    margin-top: 30px;
    font-weight: 800;
  }

  p {
    color: rgb(192, 192, 192);
    margin-top: 20px;
    display: inline-block;
  }
  @include respondTo(laptop) {
    padding: 120px 2em;
  }
}
#inspectionSteps {
  background: rgb(20, 20, 20);
  padding: 150px 0 150px;

  .stepsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    height: auto;

    .stepsImages {
      img {
        max-width: 100%;
        margin-bottom: 40px;
      }
    }

    .stepsInfo {
      width: 100%;
      height: 100%;
      position: sticky;
      top: 15vh;
      height: 230px;

      h3 {
        color: white;
        margin-bottom: 8px;
      }
      p {
        color: rgb(192, 192, 192);
      }
    }
  }

  @include respondTo(laptop) {
    padding: 120px 0;

    .stepsGrid {
      grid-gap: 20px;

      .stepsImages {
        img {
          margin-bottom: 20px;
        }
      }

      .stepsInfo {
        h3 {
          margin-bottom: 5px;
        }
      }
    }
  }
}
@include respondTo(mobile) {
  #inspectionTitle {
    padding: 100px 20px;
  }

  #inspectionSteps {
    padding: 50px 0;

    .stepsGrid {
      grid-template-columns: 1fr;

      .stepsInfo {
        position: relative;
        top: 0;
        height: 180px;
      }
    }
  }
}


// NEUTRALIZE ACCIDENT HISTORY
.carBg {
  background:$STONE;
  padding: 100px 0;
}
.beforeAfter {
  display: grid;
  grid-template-columns: 60fr 30fr;
  grid-gap: 62px;

  .beforeAfterInfo {
    max-width: 650px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h4 {
      color: white;
    }

    h2 {
      color: white;
      margin: 10px 0 5px;
    }

    p {
      color: rgb(224, 224, 224);
    }
  }

  .beforeAfterSlider {
    height: auto;
    padding: 25px;
    border-radius: 30px;
    position: relative;
    text-align: center;
    transition: $TRANS;

    .sliderContent {
      .slide {
        display: none;
        bottom: 10px;
        transition: 0.5s;

        img {
          max-height: 480px;
        }

        h3 {
          font-size: 24px;
          letter-spacing: -0.5px;
          margin-bottom: 5px;
          color: white;
        }

        p {
          color: rgba(237, 237, 237,.5);
          margin-bottom: 10px;
          font-size: 14px;
          line-height: 24px;
        }
      }

      .active {
        display: inline-block;
        opacity: 1;
        transition: all 0.5s ease;
      }
    }

    #prev {
      position: absolute;
      z-index: 6;
      top: 49%;
      left: -18px;
    }

    #next {
      position: absolute;
      z-index: 6;
      top: 49%;
      right: -18px;
    }

    .arrowBtn {
      transform: scale(1);
      transition: all 0.2s ease;
      bottom: 0;
      cursor: pointer;

      a {
        cursor: pointer;

        circle {
          fill: white;
          transition: all 0.3s ease;
        }
        path {
          fill: $SKY;
        }
      }
    }

    .arrowBtn:hover {
      transform: scale(1.04);
      opacity: 1;
      bottom: 2;
    }
  }
}
@include respondTo(mobile) {
  .carBg {
    padding: 100px 0;
  }

  .beforeAfter {
    grid-template-columns: 1fr !important;
    grid-gap: 30px;

    #slider {
      padding: 0 25px;

      h3,
      p {
        display: none;
      }
      img {
        max-width: 280px;
      }
      #prev {
        left: -6px;
      }
      #next {
        right: -6px;
      }
    }
  }
}


// TRUE360 PERKS
#reportPerks {
  background-color: #ffffff;
  padding: 200px 3em;

  h4 {
    text-align: center;
    color: $STONE;
    margin-bottom: 10px;
  }

  h2 {
    text-align: center;
    margin-bottom: 80px;
  }

  p {
    margin-bottom: 50px;
  }

  img {
    object-fit: cover;
    width: 100%;
    min-height: 280px;
    max-height: 400px;
    position: sticky;
    top: 18vh;
    margin-bottom: 30px;
  }

  .verticalBorder {
    background-color: rgb(212, 212, 212);
    width: 1px;
    height: 100px;
    margin: 0 auto;
  }

  .perkGrid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 60px;

    span {
      color: $SKY;
      border: 1px solid $SKY;
      margin-bottom: 40px;
    }
  }

  .perkContent {
    width: 90%;
  }
}
@include respondTo(laptop) {
  #reportPerks {
    padding: 120px 2em;

    h2 {
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 30px;
    }
    .perkGrid {
      span {
        margin-bottom: 20px;
      }
    }
  }
}
@include respondTo(mobile) {
  #reportPerks {
    text-align: left;
    padding: 80px 20px 30px;

    h4 {
      text-align: left;
    }

    h2 {
      text-align: left;
      margin-bottom: 30px;
    }

    .perkGrid {
      grid-template-columns: 1fr;

      img {
        top: 0;
        position: relative;
        width: 100%;
        min-height: 100px;
        margin-bottom: 30px;
      }
      .perkContent {
        margin-bottom: 50px;
        width: 100%;
      }
    }

    .verticalBorder {
      display: none;
    }
  }
}


// TRUE360 WIDGETS
#widgets {
  padding: 200px 0;
  background-attachment: scroll;
  color: white;
  @include gradient;

  h4 {
    margin-bottom: 10px;
  }

  h2 {
    color: white;
    margin-bottom: 5px;
  }

  p {
    color: rgb(203, 203, 203);
  }

  .widgetVideo {
    margin: 25px 0 50px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    video {
      width: 100%;
    }
  }

  .vdp {
    margin: 25px 0;
    background-color: #7b7b7b;
    max-width: 100%;
    height: 520px;
  }

  .mediaGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    margin-top: 16px;
    position: relative;

    .gridContent {
      width: 90%;

      .borderSpan {
        margin-top: 50px;
      }

      h3 {
        margin-top: 20px;
        color: white;
      }
    }

    .gridMedia {
      background-color: gray;
      background: #08092d;

      video {
        width: 100%;
      }
    }
  }
}
@include respondTo(laptop) {
  #widgets {
    padding: 120px 0;

    .mediaGrid {
      grid-gap: 16px;

      .gridContent {
        margin-bottom: 0;
        
        h3 {
          margin-top: 10px;
        }
      }
    }
  }
}
@include respondTo(mobile) {
  #widgets {
    padding: 100px 0 50px;
    .mediaGrid {
      grid-template-columns: 1fr;
      margin-top: 0;
      margin-bottom: 50px;

      .gridContent {
        width: 100%;
        margin-bottom: 0;

        .borderSpan {
          margin-top: 0;
        }
      }
    }
  }
}


// SIGN UP BAR
#signUpBar {
  padding: 18px 0;
  background-color: $SKY;
  top: 78px;
  position: sticky;
  z-index: 20;

  p {
    display: inline-block;
    font-weight: 400;
    color: white;
    font-size: 15px;
  }

  .partnerBtn {
    margin-top: 8px;
    position: relative;
    color: white;
    text-decoration: none;
    float: right;
    transition: $TRANS;
    cursor: pointer;

    span {
      font-size: 15px;
      margin-right: 5px;
      display: inline-block;
      transition: $TRANS;
      position: relative;
      cursor: pointer;
    }

    span:before {
      content: "";
      position: absolute;
      top: 20px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: white;
      transform-origin: 0 0;
      transform-origin: 100% 0;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
      cursor: pointer;
    }

    svg {
      fill: white;
      height: 10px;
      display: inline-block;
      vertical-align: middle;
      transition: $TRANS;
      cursor: pointer;
      fill: white
    }
  }

  .partnerBtn:hover {
    opacity: 0.3;
    cursor: pointer;

    span:before {
      transform-origin: 0 0;
      transform: scaleX(1);
      cursor: pointer;
    }

    svg {
      margin-left: 5px;
      cursor: pointer;

    }
  }
}
@include respondTo(laptop) {
  #signUpBar {
  padding: 14px 0;
  top: 71px;

  p {
    font-size: 13px;
  }

  .partnerBtn {
    margin-top: 4px;

    span {
      font-size: 13px;
      margin-right: 3px;
    }
    span:before {
      top: 16px;
    }
  }
}
}
@include respondTo(mobile) {
  #signUpBar {
    top: 80px;
    padding: 15px 0;

    p {
      font-size: 13px;
    }
    .partnerBtn {

      span {
        display: none;
      }
    }
  }
}


// ANALYTICS SECTION
#analytics {
  margin: 0 auto;
  padding: 150px 3em;
  text-align: center;
  max-width: 1140px;

  .wrapper2 {
    text-align: left;
    margin-bottom: 80px;

    h4 {
      margin-top: 30px;
      font-weight: 800;
      color: $STONE;
    }

    p {
      margin-top: 20px;
      display: inline-block;
    }
  }

  .analyticsPage {
    max-width: 1000px;
    border-radius: 5px;
    border: 1px solid rgb(237, 237, 237);
    position: relative;
    transition: $TRANS;
  }

  .analyticsPage:hover {
    -webkit-box-shadow: 0px 10px 16px -4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 16px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 16px -4px rgba(0, 0, 0, 0.1);
  }

  .list {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 60px;
    max-width: 820px;

    .listItem {
      text-align: left;
      display: flex;
      flex-direction: row;

      .svg {
        display: block;
        margin-right: 25px;

        img {
          width: 38px;
        }
      }

      p {
        margin-top: 0;
        margin-bottom: 30px;
      }
    }
  }
}
@include respondTo(laptop) {
  #analytics {
    padding: 120px 20px 80px;

    .analyticsPage {
      max-width: 800px;
    }
    .list {
      max-width: 720px;
      
      .listItem {
        p {
          margin-bottom: 30px;
        }
        .svg {
          margin-right: 20px;

          img {
            width: 35px;
          }
        }
      }
    }
  }
}
@include respondTo(mobile) {
  #analytics {
    padding: 100px 24px 50px;
    .analyticsPage {
      display: none;
    }
    .wrapper2 {
      margin-bottom: 50px;
    }
    .list {
      margin-top: 0;
      max-width: 720px;
      grid-template-columns: 1fr;
    }
  }
}


// IPAD MOCKUP
.ipadMockup {
  height: 65vh;
  background: url("images/ipadAnalytics.png") no-repeat center center;
  background-size: cover;
}
@include respondTo(laptop) {
  .ipadMockup {
    height: 40vh;
  }
}
@include respondTo(mobile) {
  .ipadMockup {
    height: 40vh;
  }
}


// TRAINING
#training {
  text-align: center;
  padding: 180px 3em 200px;

  .wrapper2 {
    text-align: center;
    color: white;
    max-width: 600px;

    h2 {
      font-weight: 300;
      color: $STONE;
    }

    h4 {
      margin-bottom: 10px;
      color: $STONE;
    }
  }

  .trainingGrid {
    display: grid;
    grid-template-columns: 280px auto 280px auto 280px;
    margin-top: 80px;

    .trainingStep {
      img {
        height: 100px;
      }

      h3 {
        margin-top: 12px;
      }
    }

    hr {
      margin-top: 50px;
    }
  }
}
@include respondTo(laptop) {
  #training {
    padding: 120px 2em 150px;

    .trainingGrid {
      grid-template-columns: 220px auto 220px auto 220px;
    }
  }
}
@include respondTo(mobile) {
  #training {
    padding: 120px 20px;

    .trainingGrid {
      margin-top: 0;
      grid-template-columns: 1fr;

      .trainingStep {
        margin: 30px auto 0;
        max-width: 460px;

        img {
          width: 80px;
        }

        h3 {
          margin-top: 10px;
        }
      }

      hr {
        display: none;
      }
    }
  }
}


// PARTNERS
#ourPartners {
  padding: 200px 0;
  background: $STONE;

  .titleGrid {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-gap: 40px;
    margin-bottom: 80px;

    .wrapper2 {
      margin: 0 auto;
      max-width: 100%;

      h4 {
        color: white;
        font-weight: 800;
        margin-bottom: 10px;
      }

      h2 {
        color: white;
        font-weight: 300;
        margin-bottom: 5px;
      }

      p {
        color: $SMOKE;
      }
    }

    .map {
      margin: 0 auto;
      max-width: 100%;
    }
  }

  .partnersGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    div {
      background: #202020;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 200px;

      img {
        opacity: 0.4;
        margin: 0 auto;
        max-width: 70%;
      }
    }
  }
}
@include respondTo(laptop) {
  #ourPartners {
    padding: 120px 0;
  }
}
@include respondTo(mobile) {
  #ourPartners {
    padding: 100px 0;
    background: $STONE;
  
    .titleGrid {
      grid-template-columns: 1fr;
    }

    .partnersGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
  
      div {
        height: 120px;
  
        img {
          opacity: 0.4;
          margin: 0 auto;
          max-width: 85%;
        }
      }
    }
  }
}


// FORM
#widgetForm {
  padding: 150px 0;
  scroll-behavior: smooth;

  .wrapper {
    max-width: 940px;
  }

  .widgetTitle {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-gap: 50px;
    padding-bottom: 50px;

    h4 {
      margin-top: 8px;
      color: $STONE;
      margin-bottom: 10px;
    }

    h1 {
      font-weight: 300;
      margin-bottom: 5px;
      color: $STONE;
    }
  }

  .formWrapper {
    margin: 0 auto;
    max-width: 940px;
    padding: 0 3em;

    h4 {
      color: $STONE;
      margin-top: 60px;
    }

    fieldset {
      margin-top: 15px;

      .inputText {
        display: flex;
        border-bottom: 1px solid #a6a6a6;
        padding: .8em 0 .2em 0;
        margin-bottom: 10px;

        .inputLabel {
          font-size: 26px;
          line-height: 50px;
          width: 50%;
          margin-right: 32px;
          font-weight: 300;
          margin-right: 32px;
          letter-spacing: -1px;
          color: $STONE;
        }

        input {
          width: 50%;
          background-color: transparent;
          font-family: proxima-nova, sans-serif;
          font-size: 26px;
          line-height: 50px;
          font-weight: 800;
          letter-spacing: -1px;
          font-weight: 100;
          border: none;
          padding: 0;
          opacity: 0.8;
          -webkit-transition: border-color 0.3s;
          transition: border-color 0.3s;
          outline: none;
        }
      }

      .error {
        font-weight: 300;
        color: rgb(255, 0, 0);
      }
    }

    .submitSec {
      margin-top: 40px;
      width: 100%;
      display: grid;
      grid-template-columns: auto auto;

      .checkBoxContainer {
        display: inline-block;
        position: relative;

        label {
          color: $STONE;
          font-weight: 300;
          line-height: 24px;
        }
      }

      .mainBtn {
        margin-left: 25px;
      }
    }
  }
}
@include respondTo(laptop) {
  #widgetForm {
    padding: 120px 0;

    .wrapper {
      max-width: 740px;
    }

    .formWrapper {
      max-width: 740px;

      .submitSec {
        .checkBoxContainer {
          label {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@include respondTo(mobile) {
  #widgetForm {
    padding: 80px 0;
  
    .widgetTitle {
      grid-template-columns: 1fr;
      grid-gap: 0;
      padding-bottom: 0;
    }
  
    .formWrapper {
      margin: 0 auto;
      max-width: 940px;
      padding: 0 20px;
  
      fieldset {
  
        .inputText {
          display: block;
  
          .inputLabel {
            font-size: 22px;
            line-height: 30px;
            width: 100%;
          }
  
          input {
            font-size: 22px;
            width: 100%;
          }
        }

        .error {
          font-size: 12px;
        }
      }
    }
  }
}